
@model DAL.ViewModel.Department.DepartmentEditViewModel

@{
    Layout = null;
}

<div id="divEditBody">
    <div class="row mb-3">
        @Html.HiddenFor(Model => Model.DepartmentId, new { @id = "txtDepartmentIdEdit" })
        <div class="col mx-3">
            <label for="txtDepartmentNameEdit">Department Name</label>
            <div class="row">
                @Html.TextBoxFor(Model => Model.DepartmentName, new { @class = "form-control", @id = "txtDepartmentNameEdit" })
            </div>
        </div>
        <div class="col mx-3">
            <label for="txtDepartmentNumberEdit">Department Number</label>
            <div class="row">
                @Html.TextBoxFor(Model => Model.DepartmentNumber, new { @class = "form-control", @id = "txtDepartmentNumberEdit" })
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 mx-3">
            <label for="txtBudgetEdit">Budget</label>
            <div class="row">
                @Html.TextBoxFor(Model => Model.Budget, new { @class = "form-control", @id = "txtBudgetEdit" })
            </div>
        </div>
    </div>
    <p class="text-danger" id="lblErrorMessageEdit">@ViewBag.Error</p>
</div>