@model DAL.ViewModel.Employee.EmployeeAddViewModel

@{
    Layout = null;
}

@if (Model != null)
{
    <div class="row">
        <div class="row mb-3">
            <div class="col">
                <label id="lblEmployeeName" class="form-label">Employee Name</label>
                @Html.TextBoxFor(Model => Model.EmployeeName, new { @id = "txtEmployeeName", @class = "form-control" })
            </div>
            <div class="col">
                <label id="lblIdentificationNumber" class="form-label">Identification Number</label>
                @Html.TextBoxFor(Model => Model.IdentificationNumber, new { @id = "txtIdentificationNumber", @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label id="lblMobileNumber" class="form-label">Mobile Number</label>
                @Html.TextBoxFor(Model => Model.MobileNumber, new { @id = "txtMobileNumber", @class = "form-control" })
            </div>
            <div class="col">
                <label id="lblHomeNumber" class="form-label">Home Number</label>
                @Html.TextBoxFor(Model => Model.HomeNumber, new { @id = "txtHomeNumber", @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label id="lblWorkNumber" class="form-label">Work Number</label>
                @Html.TextBoxFor(Model => Model.WorkNumber, new { @id = "txtWorkNumber", @class = "form-control" })
            </div>
            <div class="col">
                <label id="lblSalary" class="form-label">Salary</label>
                <input id="txtSalary" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label id="lblCode" class="form-label">Code</label>
                <input class="form-control" id="txtCode" />
            </div>
            <div class="col">
                <label id="lblDepartmentName" class="form-label">Department Name</label>
                <br />
                @Html.DropDownList("ddlDepartmentName", new SelectList(Model.DepartmentIDListItem, "Value", "Text"), "Select Department Name",
                                  new { @class = "btn btn-dark w-75", @type = "button" })
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <label id="lblIsManager" class="form-label">Is Manager</label>
                <br />
                @foreach (var item in Model.RadioButtonListItem)
                {
                    <label class="me-3">
                        @if (item.Text == "Yes")
                        {
                            @Html.RadioButton("nameIsManager", item.Value, new
                                {
                                    @class = "form-check-input",
                                    @type = "radio",
                                    @id = "yesIsManager",
                                    @checked = true
                                })
                        }
                        else
                        {
                            @Html.RadioButton("nameIsManager", item.Value, new
                                {
                                    @class = "form-check-input",
                                    @type = "radio",
                                    @id = "noIsManager"
                                })
                        }
                        @item.Text
                    </label>
                }
            </div>
            <div class="col">
                <label id="lblIsActive" class="form-label">Is Active</label>
                <br />
                @foreach (var item in Model.RadioButtonListItem)
                {
                    <label class="me-3">
                        @if (item.Text == "Yes")
                        {
                            @Html.RadioButton("nameIsActive", item.Value, new { @class = "form-check-input", @id = "yesIsActive", @checked = true })
                        }
                        else
                        {
                            @Html.RadioButton("nameIsActive", item.Value, new { @class = "form-check-input", @id = "noIsActive" })
                        }
                        @item.Text
                    </label>
                }
            </div>
        </div>
    </div>
}

else
{
    <p class="text-danger">@ViewBag.Error</p>
}

